.sidebar {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 14px;
}

.link {
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 12px;
    padding-left: 16px;
}

.link:hover {
    color: #db4444;
}


/* Responsive */

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-bottom: 30px;
    }
    .link {
        padding-left: 0;
    }
}